{% extends "base.html.twig" %}

{% block metas %}
    {{ parent() }}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block stylesheets %}
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% stylesheets filter="?scssphp" output="css/compiled/plugins.min.css"
        "@AppBundle/Resources/public/plugins/bootstrap/css/bootstrap.css"
        "@AppBundle/Resources/public/plugins/font-awesome/css/font-awesome.css"
        "@AppBundle/Resources/public/plugins/ionicons/css/ionicons.css"
        "@AppBundle/Resources/public/plugins/datatables/datatables.css"
        "@AppBundle/Resources/public/plugins/iCheck/square/blue.css"
        "@AppBundle/Resources/public/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% stylesheets filter="?scssphp" output="css/compiled/aminlte.min.css"
        "@AppBundle/Resources/public/css/AdminLTE.css"
        "@AppBundle/Resources/public/css/skin-black.css"
        "@AppBundle/Resources/public/css/styles.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body_tag %}<body class="hold-transition skin-black sidebar-mini">{% endblock %}

{% block body %}
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{{ path("homepage") }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>F</b>WALD</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>FOLC</b>WALD</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{ asset('bundles/app/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('bundles/app/images/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{ asset('bundles/app/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">

                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ asset('bundles/app/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a href="{{ path("homepage") }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    <li><a href="{{ path("app_default_newsdashbaord") }}"><i class="fa fa-dashboard"></i> <span>Dashboard 2</span></a></li>
                    <li><a href="{{ path('app_market_index') }}"><i class="fa fa-bank"></i> <span>Markets</span></a></li>
                    <li><a href="{{ path("app_currencies_index") }}"><i class="fa fa-money"></i> <span>Currencies</span></a></li>
                    <li><a href="{{ path("app_markettrades_index") }}"><i class="fa fa-trademark"></i> <span>Market trades</span></a></li>
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-files-o"></i>#}
                            {#<span>Layout Options</span>#}
                            {#<span class="pull-right-container">#}
              {#<span class="label label-primary pull-right">4</span>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>#}
                            {#<li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>#}
                            {#<li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>#}
                            {#<li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="../widgets.html">#}
                            {#<i class="fa fa-th"></i> <span>Widgets</span>#}
                            {#<span class="pull-right-container">#}
              {#<small class="label pull-right bg-green">Hot</small>#}
            {#</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-pie-chart"></i>#}
                            {#<span>Charts</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>#}
                            {#<li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>#}
                            {#<li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>#}
                            {#<li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-laptop"></i>#}
                            {#<span>UI Elements</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>#}
                            {#<li><a href="../UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>#}
                            {#<li><a href="../UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>#}
                            {#<li><a href="../UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>#}
                            {#<li><a href="../UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>#}
                            {#<li><a href="../UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-edit"></i> <span>Forms</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>#}
                            {#<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>#}
                            {#<li><a href="../forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-table"></i> <span>Tables</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>#}
                            {#<li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="../calendar.html">#}
                            {#<i class="fa fa-calendar"></i> <span>Calendar</span>#}
                            {#<span class="pull-right-container">#}
              {#<small class="label pull-right bg-red">3</small>#}
              {#<small class="label pull-right bg-blue">17</small>#}
            {#</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="../mailbox/mailbox.html">#}
                            {#<i class="fa fa-envelope"></i> <span>Mailbox</span>#}
                            {#<span class="pull-right-container">#}
              {#<small class="label pull-right bg-yellow">12</small>#}
              {#<small class="label pull-right bg-green">16</small>#}
              {#<small class="label pull-right bg-red">5</small>#}
            {#</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="treeview active">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-folder"></i> <span>Examples</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>#}
                            {#<li><a href="profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>#}
                            {#<li><a href="login.html"><i class="fa fa-circle-o"></i> Login</a></li>#}
                            {#<li><a href="register.html"><i class="fa fa-circle-o"></i> Register</a></li>#}
                            {#<li><a href="lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>#}
                            {#<li><a href="404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>#}
                            {#<li><a href="500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>#}
                            {#<li class="active"><a href="blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>#}
                            {#<li><a href="pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="treeview">#}
                        {#<a href="#">#}
                            {#<i class="fa fa-share"></i> <span>Multilevel</span>#}
                            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                        {#</a>#}
                        {#<ul class="treeview-menu">#}
                            {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
                            {#<li class="treeview">#}
                                {#<a href="#"><i class="fa fa-circle-o"></i> Level One#}
                                    {#<span class="pull-right-container">#}
                  {#<i class="fa fa-angle-left pull-right"></i>#}
                {#</span>#}
                                {#</a>#}
                                {#<ul class="treeview-menu">#}
                                    {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>#}
                                    {#<li class="treeview">#}
                                        {#<a href="#"><i class="fa fa-circle-o"></i> Level Two#}
                                            {#<span class="pull-right-container">#}
                      {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                                        {#</a>#}
                                        {#<ul class="treeview-menu">#}
                                            {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                                            {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                                        {#</ul>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>#}
                    {#<li class="header">LABELS</li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>#}
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block page_header %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Blank page
                        <small>it all starts here</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Examples</a></li>
                        <li class="active">Blank page</li>
                    </ol>
                </section>
            {% endblock %}

            {% block page_content %}
                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Title</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            Start creating your amazing application!
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            Footer
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->

                </section>
                <!-- /.content -->
            {% endblock %}
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% javascripts filter="?jsqueeze" output="js/compiled/plugins.min.js"
        "@AppBundle/Resources/public/plugins/jquery/jquery.js"
        "@AppBundle/Resources/public/plugins/bootstrap/js/bootstrap.js"
        "@AppBundle/Resources/public/plugins/jquery-slimscroll/jquery.slimscroll.js"
        "@AppBundle/Resources/public/plugins/fastclick/fastclick.js"
        "@AppBundle/Resources/public/plugins/datatables/datatables.js"
        "@AppBundle/Resources/public/plugins/iCheck/icheck.js"
        "@AppBundle/Resources/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts filter="jsqueeze" output="js/compiled/adminlte.min.js"
        "@AppBundle/Resources/public/js/adminlte.js"
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree();
        })
    </script>
{% endblock %}
