{% extends "base.html.twig" %}

{% block metas %}
    {{ parent() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block stylesheets %}
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% stylesheets output="css/compiled/login.min.css"
        "@AppBundle/Resources/public/plugins/bootstrap/css/bootstrap.css"
        "@AppBundle/Resources/public/plugins/font-awesome/css/font-awesome.css"
        "@AppBundle/Resources/public/plugins/ionicons/css/ionicons.css"
        "@AppBundle/Resources/public/plugins/iCheck/square/blue.css"
        "@AppBundle/Resources/public/css/AdminLTE.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body_tag %}<body class="hold-transition login-page">{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path("homepage") }}"><b>FOLC</b>WALD</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            {% if error %}
                <div class="alert alert-danger alert-dismissable">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" id="username" name="_username" value="{{ last_username }}" required="required">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me">
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                    <!-- /.col -->
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </form>

            {#<div class="social-auth-links text-center">#}
                {#<p>- OR -</p>#}
                {#<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using#}
                    {#Facebook</a>#}
                {#<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using#}
                    {#Google+</a>#}
            {#</div>#}
            {#<!-- /.social-auth-links -->#}

            {#<a href="#">I forgot my password</a><br>#}
            {#<a href="register.html" class="text-center">Register a new membership</a>#}

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}

{% block javascripts %}
    {% javascripts output="js/compiled/login.min.js"
        "@AppBundle/Resources/public/plugins/jquery/jquery.js"
        "@AppBundle/Resources/public/plugins/bootstrap/js/bootstrap.js"
        "@AppBundle/Resources/public/plugins/iCheck/icheck.js"
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $('input:checkbox').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}
