{% block date %}
    {{ record.date|date("d/m/Y H:i:s") }}
{% endblock %}

{% block quantity %}
    <div class="text-right">
        {{ "%0.8f"|format(record.quantity) }}
    </div>
{% endblock %}

{% block price %}
    <div class="text-right">
        {{ "%0.8f"|format(record.price) }}
    </div>
{% endblock %}

{% block total %}
    <div class="text-right">
        {{ "%0.8f"|format(record.total) }}
    </div>
{% endblock %}
