{% extends "frontend.html.twig" %}


{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Markets
            <small>listing</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Markets</li>
        </ol>
    </section>
{% endblock %}

{% form_theme filter _self %}

{% block filter_date_widget %}
    <div class="input-group">
        <input type="text" name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" class="form-control datepicker"{{ form.vars.value is defined ? " value=" ~ form.vars.value : "" }}>
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
{% endblock %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Market trades listing
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form id="formFilter">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Filter</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">{{ form_row(filter.market) }}</div>
                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="col-xs-6">{{ form_row(filter.date.left_date, {label: "From"}) }}</div>
                                        <div class="col-xs-6">{{ form_row(filter.date.right_date, {label: "To"}) }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">{{ form_row(filter.orderType) }}</div>
                            </div>
                            <div class="pull-right">
                                <button type="reset" class="btn btn-default btn-sm btn-flat">
                                    <span class="fa fa-ban"></span>
                                    Clear
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {{ form_rest(filter) }}
                </form>
                <table class="table table-bordered table-striped table-hover" width="100%" id="table-market-trades"></table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#table-market-trades');

            table.dataTable({
                ajax: {
                    data: function(baseData) {
                        var filter = [];
                        $.each($('form#formFilter').serializeArray(), function(i, e) {
                            filter[e['name']] = e['value'];
                        });

                        return $.extend(true, baseData, filter);
                    },
                    error: function(xhr) {
                        alert('Error loading data' + "\n\n" + xhr.statusText);
                    },
                    method: 'GET',
                    url: Routing.generate('app_markettrades_indexresults')
                },
                columns: [
                    {
                        name: 'market',
                        title: 'Market'
                    },
                    {
                        name: 'transactionId',
                        title: 'Transaction'
                    },
                    {
                        name: 'date',
                        title: 'Date'
                    },
                    {
                        name: 'quantity',
                        sortable: false,
                        title: 'Quantity'
                    },
                    {
                        name: 'price',
                        sortable: false,
                        title: 'Price'
                    },
                    {
                        name: 'total',
                        sortable: false,
                        title: 'Total'
                    },
                    {
                        name: 'orderType',
                        title: 'Order type'
                    }
                ],
                lengthMenu: [100, 150, 200],
                processing: true,
                searching: false,
                serverSide: true,
                sorting: [[2, 'desc']]
            });

            $('#formFilter').find('input:text.datepicker').on('change', function() {
                table.DataTable().draw();
            }).datepicker({
                autoclose: true,
                clearBtn: true,
                closeBtn: true,
                format: 'dd/mm/yyyy'
            });

            $('#formFilter input:text:not(.datepicker)').on('keyup', function() {
                table.DataTable().draw();
            });

            $('#formFilter select').on('change', function() {
                table.DataTable().draw();
            });
        });
    </script>
{% endblock %}
