{% block created_at %}
    {{ record.createdAt|date("d/m/Y H:i") }}
{% endblock %}

{% block is_active %}
    {% if record.isActive %}
        <div class="text-center">
            <span class="fa fa-check text-success"></span>
        </div>
    {% endif %}
{% endblock %}

{% block is_tracked %}
    <div class="text-center">
        <div class="switch">
            <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="switch-tracked-{{ record.id }}" value="{{ record.id }}"{{ record.isTracking ? ' checked="checked"' : "" }}>
                <label class="onoffswitch-label" for="switch-tracked-{{ record.id }}">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>

    </div>
{% endblock %}
