{% extends "frontend.html.twig" %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Markets
            <small>listing</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Markets</li>
        </ol>
    </section>
{% endblock %}

{% block page_content %}
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Markets listing
                    {% if last_update_time is not empty %}
                    <small>updated at {{ last_update_time|date("d/m/Y H:i:s") }}</small>
                    {% endif %}
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form id="formFilter">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Filter</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">{{ form_row(filter.name, {attr: {class: 'input-sm'}}) }}</div>
                                <div class="col-sm-3">{{ form_row(filter.isTracking, {label: "Tracking state", attr: {class: 'input-sm'}}) }}</div>
                            </div>
                            <div class="pull-right">
                                <button type="reset" class="btn btn-default btn-sm btn-flat">
                                    <span class="fa fa-ban"></span>
                                    Clear
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
                <table class="table table-striped table-hover" width="100%" id="table-markets"></table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#table-markets')
                .on('draw.dt', function() {
                    $(this).find('input:checkbox.icheck').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        increaseArea: '20%'
                    });

                    $(this).find('input:checkbox.onoffswitch-checkbox').on('click', function() {
                        $.getJSON(Routing.generate('app_market_setstate', {
                            id: $(this).val(),
                            state: $(this).prop('checked') ? 'on' : 'off'
                        }));
                    });
                }).dataTable({
                ajax: {
                    data: function(baseData) {
                        var filter = [];
                        $.each($('form#formFilter').serializeArray(), function(i, e) {
                            filter[e['name']] = e['value'];
                        });

                        return $.extend(true, baseData, filter);
                    },
                    error: function(xhr) {
                        alert('Error loading data' + "\n\n" + xhr.statusText);
                    },
                    method: 'GET',
                    url: Routing.generate('app_market_indexresults')
                },
                columns: [
                    {
                        name: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'shortName',
                        title: 'Short name'
                    },
                    {
                        name: 'longName',
                        title: 'Long name'
                    },
                    {
                        name: 'createdAt',
                        title: 'Created at'
                    },
                    {
                        name: 'isActive',
                        title: 'Active'
                    },
                    {
                        name: 'tracking',
                        title: 'Tracking',
                        searchable: false,
                        sortable: false,
                        width: '80px'
                    }
                ],
                lengthMenu: [100, 150, 200],
                processing: true,
                searching: false,
                serverSide: true
            });

            $('#formFilter input:text').on('keyup', function() {
                $('#table-markets').DataTable().draw();
            });

            $('#formFilter select').on('change', function() {
                $('#table-markets').DataTable().draw();
            });
        });
    </script>
{% endblock %}
