{% extends "frontend.html.twig" %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </section>
{% endblock %}

{% block page_content %}
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Statistics</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" type="button" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="stats">
                        <thead>
                            <tr>
                                <th>Market</th>
                                <th>&lt; 30s count</th>
                                <th>&lt; 30s volume</th>
                                <th>&lt; 30s min</th>
                                <th>&lt; 30s max</th>
                                <th>&lt; 90s count</th>
                                <th>&lt; 90s volume</th>
                                <th>&lt; 90s min</th>
                                <th>&lt; 90s max</th>
                                <th>&lt; 300s count</th>
                                <th>&lt; 300s volume</th>
                                <th>&lt; 300s min</th>
                                <th>&lt; 300s max</th>
                                <th>&lt; 3600s count</th>
                                <th>&lt; 3600s volume</th>
                                <th>&lt; 3600s min</th>
                                <th>&lt; 3600s mx</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#stats'),
                intervalTime = 30000;

            table.dataTable({
                columnDefs: [
                    {
                        searchable: false,
                        targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                ],
                lengthMenu: [50, 100, 150, 200, 250]
            });

            var interval;

            var dispatchUpdater = function() {
                clearInterval(interval);

                $.ajax({
                    dataType: 'json',
                    error: function(xhr) {
                        console.log(xhr.statusText);
                    },
                    method: 'GET',
                    success: function(json) {
                        table.DataTable().clear();
                        var data = {}, laps = [];

                        $.each(json, function(lap) {
                            laps[lap] = lap;

                            $.each(json[lap], function(index) {
                                if (!data[json[lap][index].market]) {
                                    data[json[lap][index].market] = {
                                        name: json[lap][index].market,
                                        '30': {count: 0, total: 0, min: 0, max: 0},
                                        '90': {count: 0, total: 0, min: 0, max: 0},
                                        '300': {count: 0, total: 0, min: 0, max: 0},
                                        '3600': {count: 0, total: 0, min: 0, max: 0}
                                    };
                                }

                                data[json[lap][index].market][lap] = {
                                    count: json[lap][index].cantidad,
                                    total: json[lap][index].total,
                                    min: json[lap][index].max_price,
                                    max: json[lap][index].min_price
                                };
                            });
                        });

                        var getNumberValue = function(value) {
                            return typeof value !== 'undefined' ? value : 0;
                        }

                        $.each(data, function(index, row) {
                            table.DataTable().row.add([
                                '<a href=" https://bittrex.com/Market/Index?MarketName=' + row.name + '" target="_blank">' + row.name + '</a>',
                                row[30].count,
                                Number(row[30].total).toFixed(0),
                                Number(row[30].min).toFixed(5),
                                Number(row[30].max).toFixed(5),
                                row[90].count,
                                Number(row[90].total).toFixed(0),
                                Number(row[90].min).toFixed(5),
                                Number(row[90].max).toFixed(5),
                                row[300].count,
                                Number(row[300].total).toFixed(0),
                                Number(row[300].min).toFixed(5),
                                Number(row[300].max).toFixed(5),
                                row[3600].count,
                                Number(row[3600].total).toFixed(0),
                                Number(row[3600].min).toFixed(5),
                                Number(row[3600].max).toFixed(5)
                            ]);
                        });

                        table.DataTable().draw();

                        interval = setInterval(dispatchUpdater, intervalTime);
                    },
                    url: Routing.generate('app_default_getstatistics')
                });
            }

            dispatchUpdater();
        });
    </script>
{% endblock %}
