<div class="table-responsive">
    <table class="table no-margin" id="stats">
        <thead>
            <tr>
                <th>Market</th>
                <th>less than 30 secs</th>
                <th>less than 90 secs</th>
                <th>less than 300 secs</th>
                <th>less than 3600 secs</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://bittrex.com/Market/Index?MarketName=BTC-BAY" target="_blank">BTC-BAY</a>
            </td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
</div>
